.mudar-cor {
    color: brown;
}

.centralizar-img {
    text-align: center;
}

.imagem {
    width: 70%;
}
.centralizar-titulo {
    text-align: center;
    margin-top: 35px;
}
.centralizar-text {
    text-align: center;
}